In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline
sns.set_style("darkgrid")

In [2]:
path = ("athlete_events.csv")
df_events = pd.read_csv(path)

#df_events["join_id"] = df_events["NOC"] + df_events["Year"].astype(str)
summer_df = df_events[df_events['Season'] == 'Summer']
summer_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [3]:
#df_events["join_id"] = df_events["NOC"] + df_events["Year"].astype(str)
winter_df = df_events[df_events['Season'] == 'Winter']
winter_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [3]:
olympic_df = pd.merge([winter_df, summer_df], on = "NOC", how ='right')
olympic_df

NameError: name 'winter_df' is not defined

In [4]:
# display just the columns needed to look at age over time
age_df = summer_df[["ID","Name","Sex","Age","Sport","Event","Year"]].copy()
age_df = age_df[age_df['Age'].notna()]
age_df.shape
age_df.head()

,ID,Name,Sex,Age,Sport,Event,Year
0,1,A Dijiang,M,24.0,Basketball,Basketball Men's Basketball,1992
1,2,A Lamusi,M,23.0,Judo,Judo Men's Extra-Lightweight,2012
2,3,Gunnar Nielsen Aaby,M,24.0,Football,Football Men's Football,1920
3,4,Edgar Lindenau Aabye,M,34.0,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1900
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Athletics,Athletics Women's 100 metres,1932

In [ ]:
# women and age 
age_df_f = age_df[(age_df.Sex == "F")]
age_df_f.shape

In [ ]:
chart = sns.boxplot(x='Year', y='Age', data = age_df_f )
chart.set_xticklabels(chart.get_xticklabels(), rotation=90)
plt.xlabel("Olympic Year", fontsize= 12)
plt.ylabel("Athlete Age", fontsize= 12)
plt.title("Age vs Olympic Year Held (Women)", fontsize= 15)

In [ ]:
chart = sns.boxplot(x='Sport', y='Age', data = age_df_f )
chart.set_xticklabels(chart.get_xticklabels(), rotation=90)
plt.xlabel("Sport", fontsize= 12)
plt.ylabel("Athlete Age", fontsize= 12)
plt.title("Age vs Sport (Women)", fontsize= 15)

In [ ]:
# How many sports for female athletes?

sport_list = age_df_f["Sport"].value_counts()
sport_list

In [ ]:
# how many events for female athletes?
event_list_w = age_df_f["Event"].nunique()
event_list_w

In [ ]:
# women and age only Athletics
age_df_f_ath = age_df[(age_df.Sport == "Athletics")]
age_df_f_ath.head()

In [ ]:
# men and age 
age_df_m = age_df[(age_df.Sex == "M")]
age_df_m.shape
age_df_m.head()

In [ ]:
## BMI

In [ ]:
# display just the columns needed to look at BMI over time
bmi_df = summer_df[["ID","Name","Sex","BMI","Sport","Event","Year"]].copy()
bmi_df = bmi_df[bmi_df['BMI'].notna()]
bmi_df.shape
bmi_df.head()

In [ ]:
# BMI for female athletes
bmi_df_f = bmi_df[(bmi_df.Sex == "F")]
bmi_df_f